{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="#">
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mt-5">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">Coordonnées GPS</h1>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        <div id="map" style="width: 100%; height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBImnElUtRCnC-Q1jL0a0zJAmGAPzs5GGc&libraries=places" ></script>
    <script src="{{ asset('tools/js/script.js') }}"></script>
{% endblock %}