{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('style/reservation.css') }}">
{% endblock %}
{% block body %}
    <div class="reservation-container">
        <div class="form-container">
            <h1>Coordonnées GPS</h1>

            <form method="post" action="#">
                <div class="form-group">
                    <label for="address">Adresse :</label>
                    <input type="text" id="address" name="address" autocomplete="address" required>
                </div>
                <button type="submit" name="submit" class="btn">Génerer</button>
            </form>
        </div>
    </div>
        <div class="map-container">
            <iframe id="map-iframe" src="" width="100%" height="500"></iframe>
        </div>
    <script>
    const form = document.querySelector('form');
    const addressInput = document.getElementById('address');
    const iframe = document.getElementById('map-iframe');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const address = addressInput.value;
        const encodedAddress = encodeURIComponent(address);
        const mapUrl = `https://www.google.com/maps?q=${encodedAddress}&output=embed`;
        iframe.src = mapUrl;
    });
</script>

{% endblock %}