{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <div class="container-fluid">
        <div class="wrapper">
            {% include 'navBar.html.twig' %}
            {% include 'sideBar.html.twig' %}
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-chart-line fa-3x"></i>
                                        <h3>Performance Metrics</h3>
                                        <!-- Add performance data and charts here -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-users fa-3x"></i>
                                        <h3>Employee Management</h3>
                                        <!-- Display employee schedules and tasks -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card bg-info text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-dollar-sign fa-3x"></i>
                                        <h3>Financial Overview</h3>
                                        <!-- Show financial data and insights -->
                                    </div>
                                </div>
                            </div>
                            <!-- Additional sections for other features -->
                        </div>
                    </div>
                </section>
                <section class="content">
                    <!-- Add sections for station utilization, customer feedback, reservations, etc. -->
                </section>
            </div>
        </div>
    </div>
    </body>
{% endblock %}