{% extends 'base.html.twig' %}
{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <body>
    <div class="container-fluid">
        <div class="wrapper">
            {% include 'navBar.html.twig' %}
            {% include 'sideBar.html.twig' %}
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-car fa-3x"></i>
                                        <h3>Statuts de voitures</h3>
                                        <p>Nombre de voitures lavées : 3</p>
                                        <a href="#" class="btn btn-light btn-sm">
                                            More info <i class="fas fa-arrow-circle-right ml-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <div class="col-lg-4">
                            <div class="card bg-info text-white mb-4">
                                <div class="card-body">
                                    <i class="fas fa-clock fa-3x"></i>
                                    <h3>Estimation du temps </h3>
                                    <p>Temps de lavage estimé: 1h</p>
                                    <a href="#" class="btn btn-light btn-sm">
                                        More info <i class="fas fa-arrow-circle-right ml-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">
                                    <i class="fas fa-cogs fa-3x"></i>
                                    <h3>Mettre à jour les estimations</h3>
                                    <p>Nouvelle heure estimée: 3h:30min</p>
                                    <a href="#" class="btn btn-light btn-sm">
                                        More info <i class="fas fa-arrow-circle-right ml-1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-chart-line fa-3x"></i>
                                        <h3>Indicateurs de performance</h3>
                                        <a href="#" class="btn btn-light btn-sm">
                                            More info <i class="fas fa-arrow-circle-right ml-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-users fa-3x"></i>
                                        <h3>Gestion des employés</h3>
                                        <a href="#" class="btn btn-light btn-sm">
                                            More info <i class="fas fa-arrow-circle-right ml-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card bg-info text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-dollar-sign fa-3x"></i>
                                        <h3>Aperçu financier</h3>
                                        <a href="#" class="btn btn-light btn-sm">
                                            More info <i class="fas fa-arrow-circle-right ml-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- Additional sections for other features -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </body>
{% endblock %}