{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <div class="container-fluid">
        <div class="wrapper">
            {% include 'navBar.html.twig' %}
            {% include 'sideBar.html.twig' %}
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-car fa-3x"></i>
                                        <h3>Car Wash Status</h3>
                                        <p>Number of Cars Being Washed: 3</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card bg-info text-white mb-4">
                                <div class="card-body">
                                    <i class="fas fa-clock fa-3x"></i>
                                    <h3>Wash Time Estimation</h3>
                                    <p>Estimated Wash Time: 1h</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">
                                    <i class="fas fa-cogs fa-3x"></i>
                                    <h3>Update Wash Time Estimates</h3>
                                    <form action="/update-wash-time" method="post">
                                        <div class="form-group">
                                            <label for="new_estimate">New Estimated Time:</label>
                                            <input type="text" id="new_estimate" name="new_estimate" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <!-- Include options for selecting station and car characteristics -->
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update Estimate</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-chart-line fa-3x"></i>
                                        <h3>Performance Metrics</h3>
                                        <!-- Add performance data and charts here -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-users fa-3x"></i>
                                        <h3>Employee Management</h3>
                                        <!-- Display employee schedules and tasks -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card bg-info text-white mb-4">
                                    <div class="card-body">
                                        <i class="fas fa-dollar-sign fa-3x"></i>
                                        <h3>Financial Overview</h3>
                                        <!-- Show financial data and insights -->
                                    </div>
                                </div>
                            </div>
                            <!-- Additional sections for other features -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    </body>
{% endblock %}