{% extends 'base.html.twig' %}

{% block body %}
    <body class="hold-transition sidebar-mini">
        <div class="wrapper">
            {% include 'navBar.html.twig' %}
            {% include 'sideBar.html.twig' %}
        <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                    <!-- /.col -->
                        <div class="col-md-8 offset-md-2">
                        <!-- Profile Image -->
                            <div class="card card-primary card-outline">

                                <h1>Dashboard Overview</h1>
                                <div>
                                    <h2>Total Registered Users: 100</h2>
                                    <h2>Active Car Wash Stations: 4</h2>
                                    <h2>Current Wait Times:</h2>
                                    <ul>
                                            <li>10 minutes</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
{% endblock %}